body{
    margin: 0;
    height: 100%;
    width: 100%;
}
html{
    padding: 0%;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
    min-width: 800px;
}
body{
margin: 0;
height: 88.5%;

width: 100%;
position: absolute;
z-index: 2;
padding: 0%;
justify-items: center;



}
header,footer{
   width: 100%; 
   height: 128px;
   text-align: center;
   background-color: rgb(142, 142, 239);
   
   z-index: 2;
   margin: 0;
   padding: 0;
   overflow: hidden;
   
}
header{
    top: 0;position: absolute;
}
footer{
    position: relative;
    display:block;
    
   padding: auto;
   margin-top: -7px;
   
   
}
h1{
    height: 100%;
    font-size: 45px;
    
    
    color: blue;
    
}
h2{
    margin-top: 10px;
    margin-left: 18%;
    margin-right: 18%;
    text-align: center;
}
ul{
    margin-left: 18%;
    margin-right: 18%;
}
li{
    line-height: 140%;
}
#container{
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-bottom: -1px;
    /**/

}
#ball{
    background-image: url('ball.png');
    background-size: 80px;
    
    background-repeat: repeat-y;
    background-position: right;
    opacity: 0.4;
    position: absolute;
    width: 100px;
    height: 120%;
    top: -20%;
    right: 0.5%;
    
}
nav{
    display: block;
    position: relative;
    
    z-index: 1;
    width: 480px;
    background-color: rgb(252, 201, 134);
    height: 150%;
    padding-top: 6%;
    margin-top: 123px;
    position: sticky;
    float: left;
    
}
#main{
    
    width: 88%;
    height: 110%;
    margin-right: 0;
    background-color: rgb(255, 255, 255);
    margin-right: 0;
    
    display: block;
    margin-top: 123px;
    left: 480px;
    padding: 2%;
    margin-left: 25px;
    
    
}

p{
    
    margin-right: 18px;
    word-wrap: break-word;
    margin-left: 88px;
    margin-right: -70px;
    width: 95%;
    
    text-align: justify;
}
#containerInMain{
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 5px;
}
#picture{
    width: 400px;
    height: 300px;
    background-image: url('pic1.png');
    background-size: contain;
    float: left;
    margin-right: 18px;
    margin-bottom: 18px;
    margin-left: 18px;
}
@media screen and (max-width: 1100px) {
    nav{
        width: 100%;
        height: max-content;
        padding: 0;
    }
    footer{
        height: 100px;
        top: 20px;
    }
    #picture{
        width: 45%;
        height: 20%;
        background-size: cover;
        background-position: center;
        float: none;
        margin-left: 30%;
        margin-right: 30%;
    }
    p{
        margin-right: 8px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        margin-top: 2px;
        padding: 0;
    }
    li{
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
    }
    ul{
        width: 100%;
        padding: 0;
        margin-left: 1%;
        margin-right: 1%;
        text-align: center;
    }
    body{
        overflow-x: hidden;
    }
    #container{
        position: relative;
        min-width: 100%;

        
    }
    #main{
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 100%;
        left: 0;
        position: relative;
        margin-left: -80px;
    }
}